/*Example stylesheet for the minesweeper project*/

body{
  font-family: "Lucida Console", Monaco, monospace;
}

#minesweeper{
  border: 2px solid #111;
  width: 600px;
  height: 600px;
  margin: auto;
}

h2{
  text-align: center;
}

#mydiv {
  position: absolute;
  text-align:center;
  font-weight: bold;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  left: 500px;
  top: 200px;
}
